EXPO_PUBLIC_SUPABASE_URL=https://yqgpykyogvoawlffkeoq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlxZ3B5a3lvZ3ZvYXdsZmZrZW9xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1NzYxMTEsImV4cCI6MjA4OTE1MjExMX0.ex07IGG4anDQMIYinnDwR48WeMESTTBVSScz1uKBb1w
